<h1>My Projects</h1>
<div class="container">
   
    <div class="project">
        <h2>SocialBook</h2>
                        <p>SocialBook is a web-based social media platform template, complete with a navigation bar, user profiles, a news feed, stories, events, advertisements, and many more. It offers a solid starting point for web developers and aspiring social media entrepreneurs. You can use this project to learn HTML, CSS, and JavaScript and customize it to suit your specific needs. Whether you're looking to create your own social media platform or enhance your web development skills, SocialBook provides a versatile and practical foundation.</p>
                        <a href="https://github.com/ShivamGupta-yo/Social-Website"><img src="../../assets/Images/SocialBook.png" alt="" width="300" height="300"></a>

                        
    </div>
    <div class="project" >
        <h2>Amazon Clone</h2>
        <p>This is the home page of Amazon Website and made using <br>languages HTML,CSS currently. Soon, it will have many options <br> so stay tuned!</p>
        <a href="https://github.com/ShivamGupta-yo/AMAZON"><img src="../../assets/Images/work1.png" alt="Project Image" width="300" height="300"></a>
    </div>

</div>