<div class="container">
<div class="name">
<h1 style="color: blue; background: wheat; width: 300px; border: 2px dashed red; padding: 5px;">My Favourite Books</h1>

<ul style="align-items: center;">

    <li>Atomic Habits.</li>
    <li>Harry Potter (1-8).</li>
    <li>Thinking Fast and Slow.</li>
    <li>Three men in the boat.</li>
</ul>
</div>
<div class="name">

    <h1>My Hobbies </h1>
    <ol>
        <li>Playing Chess</li>
        <li>Talking to friends</li>
        <li>Watching Football</li>
    </ol>
</div>
</div>