

 <!-- <app-home></app-home> -->
<!--<app-about></app-about>
<app-projects></app-projects>
<app-contact></app-contact> -->


<!-- <nav>
  <a [routerLink]="['/Home']">HOME</a>
  <a [routerLink]="['/About']">ABOUT </a>
  <a [routerLink]="['/Projects']">PROJECTS</a>
  <a [routerLink]="['/Contact']">CONTACT US</a>
</nav> -->
<!-- <button><a [routerLink]="['/Login']">Login Here</a></button> -->

<!-- <div> -->

  <!-- <router-outlet></router-outlet> -->

  <!-- <h1>Importing the name from ts file</h1>
  <p>this is imported name : {{name}}</p>
  <span [innerHTML]="title"></span>
  <br>
 firstname:  <span [innerHTML]="fname"></span>
 <img src="https://images.unsplash.com/photo-1574169208507-84376144848b?q=80&w=1779&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" height="500" width="500">
</div>

<table border="2">
  <th>ID</th>
  <th>Name</th>
  <th>Roll No</th>

  <tr>
    <td [attr.colspan]="col">1</td>
    <td>Shivam</td>
    <td>44</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Gupta</td>
    <td>15</td>
  </tr>
</table>

<button (click)="onClick()">Subscribe</button> 

<h1>Two way data binding</h1>

   <input type="text" [value]="data" [input]="data=$event.target.value"> 

<input type="text" [(ngModel)]="propertyName">

<br>
Name: {{propertyName}}
<br>
<input type="text" [(ngModel)]="data">
<br>
Name shown: {{data}} -->

<!-- <h1>Using NgIf</h1>

<input type="radio" name="radio1" (click)="changeValue(true)">True
<input type="radio" name="radio1" (click)="changeValue(false)">False

<div *ngIf="isValid"> 
  This is valid data

</div>
<div *ngIf="!isValid"> 
  This is not valid data
</div> -->
<h1>div with ngif </h1>
  <div *ngIf="display; else elseblock">
  div ngif
</div>

<h1>Using ng template with NGIF</h1>
<br>
<!-- <ng-template [ngIf]="display">-->
<ng-template #elseblock>
ngif display using ngtemplate view in dom.
</ng-template>

<!-- 
<h1>Using NG Switch</h1>
 Enter name: <input type="text" #txtname (keyup)="0"> 
<div [ngSwitch]="txtname.value"> 
<div [ngSwitch]="nameofactor">
<div *ngSwitchCase="'SRK'">kkkkkk....</div>
<div *ngSwitchCase="'Salman'">dabang</div>
<div *ngSwitchCase="'Salman'">dabang</div>
<div *ngSwitchCase="'Salman'">dabang</div>
<div *ngSwitchCase="'Hrithik'">Hi Jaadu</div>
<div *ngSwitchCase="'Amitabh'">Hainnnn</div>
<div *ngSwitchCase="'Shahid'">Kisne haath lagaya usko</div>
<div *ngSwitchCase="'Kartik'">Problem</div>
<div *ngSwitchDefault>No data Found</div>
</div>

<h1>Using NgFor</h1>
<ul>
  <li *ngFor="let Student of students; let i = index; let f = first; let l = last; let e = even;let o = odd">
 {{i}} >>>{{Student.name}}-{{f}}--{{l}}--{{e}}--{{o}}</li>
</ul>  -->
<div [ngSwitch]="nameofactor">
  <ng-template [ngSwitchCase]="'SRK'">Shah rukh khan</ng-template>
  <ng-template [ngSwitchCase]="'salman'">Salman khan
</ng-template>
    <ng-template [ngSwitchCase]="'Amir'">Amir khan</ng-template>
    <ng-template [ngSwitchDefault]>Actor not found</ng-template>
    
  </div>
  <ng-template ngFor let-Student [ngForOf]="students"; let-i="index">
 {{i}}.  {{Student.name |titlecase |uppercase}} <br></ng-template>
 <br>
 <h1>Pipes Example</h1>
 <p>{{today}}</p>
 <p>{{today| date: 'shortDate'}}</p>
 <p>{{today| date: 'longDate'}}</p>
 <p>{{today| date:'fullDate' }}</p>

 <p>{{n| percent:'1.0-3'}}</p>
 <p>{{n| percent:'2.4-6'}}</p>
 <p>{{n| percent:'2.2-3'}}</p>
 <p>{{dollar| currency:'INR'}}</p>
 <p>{{dollar| currency:'INR':'code'}}</p>
  
 