<div class="about">     
                <h1> About Me </h1>
                <p>Hey, I am Shivam Gupta from Sundernagar, Himachal Pradesh, India. I am 21 years old and pursuing final year B.tech(CSE) from ABVGIET PRGATINAGAR(SHIMLA). In this section, you will get to know me and my experiences.</p>
                
            </div>
            <div class="flex">
            <div class="skills">
                <h2 >Skills </h2>
                
           
           
                <ul>
                 <li><span>Frontend : </span>
                     <br> 
                   <p>HTML / CSS / JAVASCRIPT / REACT</p>
                   <br>
                 </li>
                <li>
                    <span>Backend :  </span>
                    <p>JAVA / PHP</p>
                    <br>
                </li>      
                <li>
                    <span>Database : </span>
                    <p>MySQL</p>
                </li>                 
                </ul>
            </div>
            <div class="experiences">
                <h2>Experience </h2>
                <ul>
                    <li>
                        <span>August-2022</span><br>Worked as an student Trainee at  VEE Software solutions private limited and Practiced core Java contents.
                    </li>
                    <li>
                        <span>August-2023 - September-2023</span><br>Worked as an student Trainee at Arrow EduTech Pvt. Ltd. and practiced Web development Languages(HTML,CSS,JAVASCRIPT).
                    </li>

                  
                </ul>
            </div>

            <div class="education">
                <h2>Education </h2>
                <ul>
                    <li>
                        <span>2018</span><br>10th class percentage: 82% (D.A.V public school,SunderNagar)
                    </li>
                    <li>
                        <span>2020</span><br>12th Class percentage: 77.4%(D.A.V public school,SunderNagar)
                    </li>
                    <li>
                        <span>2020</span><br>JEE mains Percentile: 89.98%
                    </li>
                    <li>
                        <span>2020-present</span><br>Final year student in computer sciences at ABVGIET,pragatiNagar,Shimla
                    </li>

                    
                  
                </ul>
           
 
</div>
</div>