

  <div class="intro">
    <h1>Hello, I am Shivam.</h1>
    <p>A passionate Web Developer from India.</p>
  </div>
  <div class="container">
<div class="text">
    <p>Welcome to my corner of the web, where I turn lines of code into stunning digital experiences. As a dedicated web developer, I thrive on the ever-evolving landscape of technology, constantly pushing boundaries to craft functional and visually appealing websites. I invite you to explore my digital realm, where innovation and creativity intersect.</p>

<p>This digital space is a reflection of my dedication to learning the art and science of web development. Come along on this educational adventure with me as I explore the world of code and design. </p>
</div>
      <div class="img">
          <img src="../../assets/Images/aboutfinal.jpg" alt="Shivam" width="300" height="400">
        </div>
    </div>